/* Chat_app.css */

body {
  background: linear-gradient(to right, #dc143c, #19c2fa, #20fa19);
  font-family: 'Arial', sans-serif;
  font-size: 24px;
}

header {
    background-color: #00eeff;
	color: white;
	font-size: 24px;
	text-align: center;
	padding: 10px;
}

main {
    padding: 20px;
}

/* Form styles */
form {
    max-width: 400px;
	margin: 0 auto;
}

label {

}