/* Reset some default styles */
body, h2, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    color: white;
   background: linear-gradient(135deg, #E9133A, #0AB7C1);
}

#signupForm {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #dc143c;
    border-radius: 10px;
}
label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #dc143c;
    border: 1px solid limegreen;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: cyan;
    border: none;
    border-radius: 5px;
    color: #dc143c;
    cursor: pointer;
}

/* Mobile-friendly styles */
@media screen and (min-width: 600px) {
    /* Add styles for larger screens if needed */
    body {
        font-size: 20px;
    }

    #updateProfileForm {
        width: 50%;
        margin: 0 auto;
    }
}

body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    color: limegreen;
    background: linear-gradient(135deg, #E9133A, #0AB7C1);
}

#loginForm {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #dc143c;
    border-radius: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
}